{% extends "layout.html" %}

{% block title %}
MindFlow - Register
{% endblock %}

{% block main %}

<h1 style="margin-bottom: 2%;">Register to MindFlow</h1>

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm"
            type="password">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}